<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="sidenavColor">
         <mat-nav-list class="lista">
            <a  routerLink="" mat-list-item class="aa">
                <i class="material-icons">home</i>
                Home
            </a>
        
            <a routerLink="/categorias" mat-list-item class="aa">
                <i class="material-icons">menu_book</i>
                Categorias
            </a>
         </mat-nav-list>
 </mat-sidenav>
            
           <mat-sidenav-content class="content">
               <router-outlet></router-outlet> 
           </mat-sidenav-content> 

   
</mat-sidenav-container>

