*{
    font-family: 'Quicksand', sans-serif;

}
.foco{
    width: 100%;
    height: 400px;
    background: url('../../../../assets/img/empresario-maos-usando-telefone-celular-com-laptop-na-mesa-de-escritorio.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}
.h1top{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 6px black;
    text-align: center;
    top: 250px;
}
.botao{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background: #4d96ff;
    padding: 10 20px;
    box-sizing: border-box;
    border-radius: 15px;
    top: 270px;
}

.botao:hover{
    background: #417fd6;
    transition: 0.7s all;
}


.home{
    width: 95%;
    margin: 1rem auto;

    background-color: rgb(226, 226, 226);
    color: white;
    padding-left: 0.6rem;
    
}


.subtittle{
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

@media(max-width: 450px){
    .home{
        width: 70%;
    }

    
}
@media(max-width: 760px){
    .home{
        width: 90%;
    }

    
}