<section class="foco">
    <div class="container">
        <h1 class="h1top">Estamos te aguardando</h1>
        <a routerLink="/categorias"class="botao">Faça um orçamento</a>
    </div>
</section>




<mat-card class="home" mat-elevation-z4>
    <mat-card-title class="tittle">Bem-vindo à Soluções Ativas - a resposta para todas as suas demandas!</mat-card-title>
    
    

    <mat-card-subtitle class="subtittle"> <p>Sabemos que sua vida está repleta de desafios e que você precisa de uma equipe confiável para lidar com as tarefas que consomem seu tempo. É por isso que estamos aqui para ajudar! Somos uma prestadora de serviços especializada em oferecer soluções eficientes e confiáveis para atender às suas necessidades diárias.</p> 
    <p>
        Com a Soluções Ativas, você terá a tranquilidade de contar com uma equipe experiente e dedicada, pronta para prestar suporte em várias áreas. Seja para serviços domésticos, reparos, organização, assistência administrativa ou qualquer outra necessidade, estamos prontos para assumir as responsabilidades e facilitar a sua vida.
    </p>
    <p>
        Nossos profissionais são cuidadosamente selecionados e treinados para garantir que você receba um serviço excepcional, com total dedicação em superar suas expectativas. Nosso objetivo é oferecer resultados impecáveis e ir além do que você espera.
    </p>
    <p>
        Além disso, na Soluções Ativas, valorizamos a sua comodidade e flexibilidade. Oferecemos agendamentos personalizados que se encaixam perfeitamente na sua rotina agitada. Basta nos informar suas necessidades e encontraremos a melhor solução para você.
    </p>
    <p>
        Não perca mais tempo se preocupando com tarefas que consomem sua energia e afetam o seu dia a dia. Deixe a Soluções Ativas assumir o controle, para que você possa se concentrar no que realmente importa. Entre em contato conosco agora mesmo e descubra como podemos fazer a diferença na sua vida.
    </p>
    <p>
        Confie na Soluções Ativas - seu parceiro confiável e eficiente para todas as suas necessidades de serviços. Juntos, podemos tornar a sua vida mais fácil e produtiva!"
    </p>

    
    
    
    </mat-card-subtitle>
</mat-card>

